<h1><%=name %></h1>

<strong>E<%=email +"is been Successfully verified" %></strong>
<form action="/db" method="POST">
    <div>
        <button type="click to register"> Register</button>
    </div>

</form>
